<body>
    <div class="l-img d-flex justify-content-center align-items-center">
        <button class="text-center bg-transparent" (click)="scrollToProducts()">View All Products</button>
    </div>
    <div class="deal-of-the-day">
        <div style="margin-top: 5%; color: white; width: 95%; float: right; ">
            <h2 style="font-size: 30px; margin: 0 auto; text-decoration: underline;">Deals of the Day!!</h2>
        </div>
        <div class="scroll">
            <div class="card-deck-1 d-flex justify-content-evenly m-15">
                <mat-card class="card" *ngFor="let topDeal of topSelling" style="cursor: pointer; margin: 10px;">
                    <mat-card-header style="margin: 0 auto;">
                        <img style="width: 190px;" mat-card-xl-image src="{{topDeal.image}}" alt="image">
                    </mat-card-header>
                    <mat-card-content class="card-body" (click)="productDetails(topDeal._id)">
                        <mat-card-title class="card-title d-flex justify-content-center text-center">
                            <h5 class="overflow-hidden fs-6 fw-bold">{{topDeal.name}}</h5>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <p class="card-text d-flex text-center justify-content-center">Price: 30% OFF </p>
                        </mat-card-subtitle>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

    <div id="products">
        <div class="card-deck d-flex flex-wrap justify-content-evenly m-15">
            <mat-card class="card" *ngFor="let product of productList">
                <app-cards [products]="product"></app-cards>
            </mat-card>
        </div>
    </div>
</body>